.theader{
  text-align: right;
  border-bottom: 1px solid gray;
  background: #716868;
  color: #fff;
  padding: 29px;
  padding-top: 12rem;
}

.navbar-brand {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 17rem !important;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-top: -39rem;
  margin-left: -1rem;
}
.form-controls
{
  width: 100%;
}
td {
  padding: 14px !important;
  border-bottom: 0px;
}
.table.table-responsive {
  background: #6c757d;
}
.btn-secondary:hover {
  color: #5c636a;
  background-color: #fff;
  border-color: #565e64;
}
.btn-secondary {
  color: #fff;
  background-color: #565e64;
  border-color: #565e64;
}
.sidebar {
  border-bottom: 1px solid #fff;
  font-size: 19px;
  font-weight: bold;
  background: #6c757d;
  color: #fff;
  text-align: center;
  padding: 3px;
  border-radius: 4px;
}