/* @media (prefers-color-scheme: dark) {} */
.DarkClass {
    background-color: rgb(18 18 19 / 99%);
    color: white;
}

.DarkClass::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
}

.DarkClass::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.839);
    border-radius: 5px;

}

/* .DarkClass:root {
    --theme-color: whitesmoke;
    --txt-color: #00095E;

} */

.DarkClass nav ul li a {
    color: white;
}

.DarkClass #svgCircle svg circle {
    stroke: white;
}

.DarkClass #svgCircle svg:before {
    color: white;
}

.DarkClass #signUp:before {
    mix-blend-mode: color;
}

.DarkClass .hero_text {
    color: white;
}

.DarkClass .hero_text .buttonClass {
    background-color: white;
    color: black;
}

.DarkClass .hero_text .buttonClass::before {
    border: 1px solid white;
}

.DarkClass #secondPage #features {
    color: #fff;
}

.DarkClass #secondPage #svgDots svg * {
    fill: white;
}

.DarkClass #DejaVu {
    border-color: white;
    color: black;
    background-color: rgba(255, 255, 255);
    /* box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5); */
}

.DarkClass .content {
    color: black;
    background-color: white;
}

.DarkClass #footer {
    border-top: 2px solid #1b31f5;

}

.DarkClass #TextSpan:before {
    background-color: rgb(18 18 19 / 99%);
    ;
}